# Игнорируем саму папку с данными
data/

# Игнорируем виртуальное окружение (venv)
venv/

# Игнорируем кеш Python
__pycache__/
*.pyc

# Игнорируем файлы настроек IDE (если используете PyCharm)
.idea/
.vscode/

# Игнорируем служебные файлы ОС (для macOS)
.DS_Store
